*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 50px;
    min-width: 400px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.39);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 13px 20px -5px #2d302c;
}

header{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
    box-shadow: 0px 10px 14px -7px #2d302c;
}

.wrapper{
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.wrapper input {
    width: 70%;
    height: auto;
    outline: none;
}

.addTodo {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.addTodo:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.addTodo:active {
	position:relative;
	top:1px;
}


.customization{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    box-shadow: 0px 10px 14px -7px #2d302c;
}

.customization h4{
    cursor: pointer;
    margin-right: 5px;
}

.wrapperMessages{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid black;   
}

.doneWrapperMessages{
    display: flex;
    justify-content: space-between;
    text-decoration: line-through;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.377);
     
}

.clearBtn {
	background:linear-gradient(to bottom, #f50e48 5%, #e32222 100%);
	background-color:#f50e48;
	border-radius:4px;
	border:1px solid #e63570;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:8px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #f70a31;
}
.clearBtn:hover {
	background:linear-gradient(to bottom, #e32222 5%, #f50e48 100%);
	background-color:#e32222;
}
.clearBtn:active {
	position:relative;
	top:1px;
}

.btnDeleteTasks{
    text-decoration: none;
    position: relative;
    z-index: 1;
    background: transparent ;
    border: transparent;
}


.customizationClick {
    cursor: pointer;
    margin-right: 5px;
    background-color: white;
    color: black;
}